<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="assets\Logo.png" alt="Logo del Napoli" style="width:30px;">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="#">La Rosa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Le Partite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">La Storia</a>
            </li>
        </ul>
    </div>
</nav>