<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#" href="#" routerLink="/homepage">
                <img src="assets\Logo.png" alt="Logo del Napoli" style="width:30px;">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/rosa">La Rosa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/calendario">Le Partite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/storia">La Storia</a>
            </li>
        </ul>
    </div>
</nav>